.links-icon{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 800px;
}
.redes-container p {
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.redes-container a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.redes-container:hover p{
    opacity: 1;
}