@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.cascadia-mono {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



body{
    font-family: "Inter", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: "Space Grotesk", sans-serif;
}

p, label, span{
    font-family: "Cascadia Mono", sans-serif;
}

a, nav{
    font-family: "Inter", sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
