.education {
    width: 800px;
}

.edu-ceub {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.edu-ceub img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    flex-shrink: 0;
}

.edu-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.edu-text h2{
    font-size: 20px;
}

.edu-text h2,
.edu-text h3,
.edu-text h4,
.edu-text p {
    margin: 0;
}