@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:wght@300&display=swap');

.cascadia-mono {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
}

.skills{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills-icon{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 800px;
    flex-wrap: wrap;
    padding: 20px;
}
.skill-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nomes {
    font-family: "Cascadia Mono", sans-serif;
    text-align: center;
}



@media (max-width:810px) {
    .skills{
        align-items: center;
    }
    .skills-images{
        height: 70px;
    }
    .skills-icon{
        width: auto;
    }
}