.skills{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills-icon{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 800px;
    flex-wrap: wrap;
}

.nomes {
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.skill-container:hover .nomes{
    opacity: 1;
}

@media (max-width:810px) {
    .skills{
        align-items: center;
    }
    .skills-images{
        height: 70px;
    }
    .skills-icon{
        width: auto;
    }
}