.skills{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skills-icon{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 800px;
    flex-wrap: wrap;
    padding: 20px;
}
.skill-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nomes {
    text-align: center;
}



@media (max-width:810px) {
    .skills{
        align-items: center;
    }
    .skills-images{
        height: 70px;
    }
    .skills-icon{
        width: auto;
    }
}