.introducao{
    margin: 0;
    padding: 0;

    display: flex;
    width: 800px;
}

.introducao-imagem{
    border-radius: 10px;
}

.introducao-text p {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.links-icon{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

@media (max-width: 810px) {
    .introducao{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .introducao-imagem{
        width: 210px;
    }
    .introducao-text{
        text-align: center;
        width: auto;
    }
    .introducao-text{
        width: 90%;

    }
    .links-icon {
        justify-content: center;
    }
}