.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 50;
}

.header h1 {
    color: white;
}

.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header-links button {
    background-color: transparent;
    border: 2px solid transparent;
}
.header-links button:hover{
    border: 2px solid var(--border);

}

.header-img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
    z-index: 3000;
}

.hambuger{
    display: none;
    background-color: transparent;
    border: 0;
}

.hambuger:hover{
    background-color: transparent;
    border: 0;
}


@media(max-width: 1150px) {
    .header-links{
        display: none;
    }
    .hambuger{
        display: initial;
    }
    .hambuger img {
        width: 20px;
    }
}