.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: black;
}

.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header-links button {
    all: unset;
    cursor: pointer;
    color: white;
}

.header-portfolio{
    text-decoration: none;
    color: white;
}

@media(max-width: 700px) {
    .header-links{
        display: none;
    }
}