.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: black;
}

.header h1 {
    color: white;
}

.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header-img {
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.header-img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

@media(max-width: 700px) {
    .header-links{
        display: none;
    }
}