.ex-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

    height: 400px;
    width: 400px;
    border: 2px solid var(--border);
    border-radius: 6px;

    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}



.ex img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.ex p, h2, h3, h4{
    text-align: center;
}