.ex-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex: 1;

    height: 400px;
    max-width: 400px;
    border: 2px solid var(--border);
    border-radius: 6px;

    padding: 10px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.ex img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.ex p, .ex h2,.ex h3,.ex h4{
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
}

@media (max-width: 860px) {
    .ex{
        height: auto;
        width: auto;
        align-items: center;

    }
    .ex-card{
        flex-direction: column;
        align-items: stretch;
        gap: 30px;
    }
    .experiences {
        text-align: center;
    }
    
}