.projetos{
    width: 800px;
    display: flex;
    flex-direction: column;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projetos-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    border: 2px solid var(--border);
    border-radius: 6px;
}
.projetos-container a{
    display: block;
    width: 100%;
    padding: 10px;
}

.projetos-container h3{
    text-align: start;
}

.pro-linguagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.linguagem {
    padding: 4px 8px;
    border: 1px solid var(--border);
    border-radius: 6px;
    font-size: 0.85rem;
}

a{
    text-decoration: none;
    color: var(--text);
}

.projetos-container p,
.projetos-container h3 {
    word-break: break-word;
    overflow-wrap: break-word;
}

@media(max-width:810px) {
    .projetos{
        align-items: center;
        width: auto;
        padding: 2px;
    }
    .projetos-container{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .projetos-container h3 {
        text-align: center;
    }
}

@media (max-width:350px) {
    .projetos{
        width: auto;
    }
}