.projetos{
    width: 800px;
    display: flex;
    flex-direction: column;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projetos-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
}

.pro-linguagens {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.linguagem {
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 0.85rem;
}

a{
    text-decoration: none;
    color: black;
}
@media(max-width:810px) {
    .projetos{
        align-items: center;
        width: auto;
        padding: 2px;
    }
    .projetos-container{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}