.projetos{
    width: 800px;
    display: flex;
    flex-direction: column;
}
.projetos-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    border: 2px solid black;
}
a{
    text-decoration: none;
    color: black;
}
@media(max-width:810px) {
    .projetos{
        align-items: center;
        width: auto;
        padding: 2px;
    }
    .projetos-container{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}