.contato {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.2fr 2.7fr 0.2fr;
    grid-template-areas: 
        "header"
        "email"
        "footer"
    ;
    grid-gap: 0.2rem;
}

.header {
    grid-area: header;
}

.email{
    grid-area: email;
}

.footer{
    grid-area: footer;
}